body {
    font-family: ;
}

:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --succes-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal-overlay-color: #2e2f42;
    --hero-background-color: #2e2f42;
    --white-background-color: #ffffff;
    --modal-background-color: #fcfcfc;

}

/* Header section */
.header {}

.header-nav {}

.header-nav-list {}

.header-nav-item {}

.header-nav-link:hover,
.header-nav-link:focus 
{
   background-color:var(--pressed-state-color);
}

.header-adress {}

.header-adress-list {}

.header-adress-item {}

.header-adress-link {}
/* Main comtent */

/*  Hero section */
.section {}

.hero {}

.title-page {}

.hero-btm {}

/* Features section */
.section {}

.features {}

.section-features-title {}

.section-feature-list {}

.section-features-item {}

.features-item-title {}

.feature-item-text {}

/*  What are we doing section */
.section {}

.made {}

.section-made-title {}

.section-made-list {}

.section-made-item {}

.section-made-img {}

/* Team section */
.section {}

.team {}

.section-team-title {}

.section-team-list {}

.section-team-item {}

.section-team-img {}

.team-name {}

.team-text {}

/* Footer section */
.footer {}

.footer-link {}

.footer-text {}

/* Page 2 */
.section-filter {}

.filter-list {}

.filter-item {}

.filter-buttom {}

.projects {}

.projects-title {}

.projects-list {}

.projects-item {}

.projects-img {}

.projects-name {}

.projects-type {}